body{
    background-color: #505050;
    color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
main{
    margin: auto;
    text-align: center;
    background-color: rgba(222, 222, 222, 0.116);
    height: 300px;
    width: 600px;
}
h1{
    color: rgba(215, 193, 236, 0.938);
}
h2{
    color: aquamarine;
    text-decoration: dotted;
}
button{
    height: 100px;
    width: 100px;
    border: 0 none;
    border-radius: 50%;
    background-color: rgba(215, 193, 236, 0.938);
    font-size: larger;
    font-family: fantasy;
    cursor:pointer;
}